<div class="container mt-5">
  <div class="card shadow p-4">
    <h2 class="mb-4 text-danger text-center">Remove Student</h2>

    <div class="mb-3">
      <label for="studentId" class="form-label">Enter ID</label>
      <input
        type="number"
        id="studentId"
        class="form-control"
        [(ngModel)]="id"
        placeholder="Enter Student ID"
      />
    </div>

    <div class="text-center">
      <button class="btn btn-danger" (click)="removeStudent()">DELETE</button>
    </div>
  </div>
</div>
